{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<p></p>

<address>
    1 Main Street<br />
    Dublin, Ireland<br />
    <abbr title="Phone">P:</abbr>
    +353-123456789
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">x19164131@student.ncirl.ie</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">x19164131@student.ncirl.ie</a><br />
    <strong>Github</strong> <a href="https://github.com/x1916/Web-App-CA3">https://github.com/x1916/Web-App-CA3</a>
</address>

{% endblock %}
