{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Secure Programming for Web - CA3</h1>
    <p class="lead">Built using Django, a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<!DOCTYPE html>

<!--
        Secure Web App Development CA3
        By Peter Byrne
        NCI 19164131
-->


{% if user.is_authenticated %}
<div class="row">
    <div class="col-md-4">
        <h2>Search Database</h2>
        <p>
            You have successfully logged on. Search the secret database.
        </p>
        <p><a class="btn btn-default" href=regsuccess>Search &raquo;</a></p>
    </div>
</div>


{% else %}
<div class="row">
    <div class="col-md-4">
        <h2>Login</h2>
        <p>
            Enter username and password into Login Page
        </p>
        <p><a class="btn btn-default" href=login>Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Register</h2>
        <p>Register a new account.</p>
        <p><a class="btn btn-default" href=register>Register &raquo;</a></p>
    </div>
        <div class="col-md-4">
        <h2>Github Repository</h2>
        <p>Check out Github Code</p>
        <p><a class="btn btn-default" href="https://github.com/x1916/Web-App-CA3">Github &raquo;</a></p>
    </div>
</div>
{% endif %}

{% endblock %}
