{% extends "app/layout.html" %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="6LczJ-MUAAAAAL58M91aOK5CtvcisqLNQMtJqco1" data-callback="enableBtn"></div>

    <input type="submit" value="Register" id="button1" disabled="disabled">

    <script> function enableBtn()
    {
        document.getElementById("button1").disabled = false;
    }</script>

  </form>

{% endblock %}
